@page
@model CheckList.EndPoints.Razor.Areas.MyTask.Pages.IndexModel
@{
    Layout = "_Layout";
}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
                TempData["SuccessMessage"] = null;
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert"> @TempData["ErrorMessage"] </div>
                TempData["ErrorMessage"] = null;
            }
            <br />
            <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fas fa-check-square me-1"></i>
                            <u>My Todo-s</u>
                        </p>

                        <div class="pb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-center gap-3">
                                        <form method="post" asp-page-handler="CreateTask" class="w-100 d-flex align-items-center gap-3">
                                            <input asp-for="Task.Title" type="text" class="form-control form-control-lg flex-grow-1" placeholder="Add new..." />
                                            <span class="text-danger" asp-validation-for="Task.Title"></span>
                                            <div class="position-relative" style="max-width: 220px;">
                                                <input asp-for="Task.TimeToDone"
                                                       type="date"
                                                       class="form-control border-0"
                                                       style="height: 55px; font-size:20px;" 
                                                       placeholder="@DateTime.Now"/>
                                            </div>
                                            <span class="text-danger" asp-validation-for="Task.TimeToDone"></span>

                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <hr class="my-4">

                        <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                            <p class="small mb-0 me-2 text-muted">Filter</p>
                            <select data-mdb-select-init>
                                <option value="1">All</option>
                                <option value="2">Completed</option>
                                <option value="3">Active</option>
                                <option value="4">Has due date</option>
                            </select>
                            <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                            <select data-mdb-select-init>
                                <option value="1">Added date</option>
                                <option value="2">Due date</option>
                            </select>
                            <a href="#!" style="color: #23af89;" data-mdb-tooltip-init title="Ascending">
                                <i class="fas fa-sort-amount-down-alt ms-2"></i>
                            </a>
                        </div>

                       
                            @foreach (var item in Model.Tasks)
                            {
                            <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                                
                                    <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                        <div class="form-check">
                                            @if (!item.IsCompleted)
                                            {
                                                <form method="post" asp-page-handler="CompleteTask" asp-route-id="@item.Id">
                                                    @Html.AntiForgeryToken()
                                                    <input type="checkbox" class="form-check-input me-0" onchange="this.form.submit()" />
                                                </form>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input me-0" checked disabled />
                                            }
                                        </div>
                                    </li>

                             
                                    <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                        <p class="lead fw-normal mb-0">@item.Title</p>
                                    </li>

                              
                                    <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                        <div class="d-flex flex-row justify-content-end mb-1">
                                        <a asp-page="Update" asp-route-id="@item.Id" class="text-info" title="Edit todo">
                                                <i class="fas fa-pencil-alt me-3"></i>
                                            </a>
                                        <a onclick="return confirm('Are You Sure To Delete THis Task?" asp-page="Delete" asp-route-id="@item.Id" class="text-danger" title="Delete todo">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                        <div class="text-end text-muted">
                                            <a href="#!" class="text-muted" title="Created date">
                                                <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>@item.TimeToDone</p>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            }




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
